.flexbox {
  position: relative;
  width: 200px;
  height: 200px;
  cursor: pointer;
  background: url('../assets/task-3/avto1.jpg') center/cover no-repeat;
}

.flexbox-caption {
  display: flex;
  width: 100%;
  justify-content: center;
  font-weight: 700;
  color: #f50505;
  opacity: 0;
  transition: opacity 0.25s ease, transform 0.25s ease;
  text-align: center;
}

.flexbox-car {
  position: absolute;
  left: 12px;
  bottom: 8px;
  width: 110px;
  height: 80px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform-origin: 55% 70%;
}

.flexbox-car--hover {
  background: url('../assets/task-3/avto2.png') center/cover no-repeat;
  opacity: 0;
  transform: translateX(40px) translateY(-40px);
  transition: 0.5s ease transform, 0.25s ease opacity;
}

.flexbox-car--active {
  background: url('../assets/task-3/avto3.png') center/cover no-repeat;
  opacity: 0;
  transition: all 0.5s ease;
}

.flexbox:hover .flexbox-caption {
  opacity: 1;
}

.flexbox:hover .flexbox-car--hover {
  opacity: 1;
  transform: translateX(0) scale(1);
}

.flexbox:active .flexbox-car--active {
  opacity: 1;
  transform: scale(1);
  animation: circle-shake 0.55s linear infinite;
}

.flexbox:active .flexbox-car--hover {
  opacity: 0.12;
}

.flexbox:active {
  animation: pulse 0.65s ease-in-out infinite;
}

@keyframes circle-shake {
  0% {
    transform: translate(0, 0) rotate(0deg) scale(1);
  }
  25% {
    transform: translate(3px, -3px) rotate(3deg) scale(1);
  }
  50% {
    transform: translate(0, -5px) rotate(0deg) scale(1);
  }
  75% {
    transform: translate(-3px, -3px) rotate(-3deg) scale(1);
  }
  100% {
    transform: translate(0, 0) rotate(0deg) scale(1);
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
}
